body{
	font-family: 'Karla', sans-serif;
	width:100%;
	text-align:center;
}

input .verifyField{
	margin:25px;
	width:500px;
}



.container{
	margin:auto;
	position:absolute;
	top:0;left:0;bottom:0;right:0;

}


.containerSecondary{
	margin:auto;
	position:absolute;
	top:0;left:0;bottom:0;right:0;

}
