@import url(https://fonts.googleapis.com/css?family=Karla:400,700,400italic,700italic);

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Karla', sans-serif;
}
a { color: #00f; }

.wrap {
  position: relative;
  width: 100vw;
  height: 100vh;
}
.wrap.what-modal-active { display: none; }

h1 {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 1rem 0 0;
  text-align: center;
  font-size: 1.2rem;
}
h1 span { border-bottom: 1px solid #000; }

.map-wrap {
  width: 100vw;
  height: 100vh;
}
.map {
  display: block;
  width: 100%;
  height: 100%;
}

.person .person-detail {
  fill: #000;
}

.person.birthing .person-detail {
  animation-duration: 0.75s;
  animation-name: person-birthing;
}
.person.dying .person-detail {
  opacity: 0; /* Ensure it's 0 after the animation */
  animation-duration: 1s;
  animation-name: person-dying;
}

@keyframes person-birthing {
  0%   { transform: scale(1, 1); opacity: 0; fill: #0f0; }
  50%  { transform: scale(3, 3); opacity: 1; fill: #0f0; }
  100% { transform: scale(1, 1); opacity: 1; fill: #000; }
}

@keyframes person-dying {
  0%   { transform: scale(1, 1);     opacity: 1; }
  50%  { transform: scale(2.5, 2.5); opacity: 1; fill: #f00; }
  100% { transform: scale(0, 0);     opacity: 0; }
}

.continents {
  display: none;
}

.what {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0 0 0.5rem;
  text-align: center;
  font-size: 0.9rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}

.what-show {
  display: inline-block;
  background: #fff;
  border: 0.5rem solid #fff;
  text-decoration: none;
}

.what-modal {
  display: none;
  width: 100vw;
  height: 50vh;
  padding: 50vh 1vw 0;
}
.what-modal.what-modal-active { display: block; }

.what-center {
  position: relative;
  top: -15rem;
  margin: 0 auto;
  width: 20rem;
  padding: 5rem 5rem 3.75rem;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.what-center h2 {
  font-size: 1.2rem;
  margin: 0 0 1.25rem;
}
.what-center p {
  font-size: 0.9rem;
  line-height: 1.5;
  margin: 0 0 1.25rem;
}
